
# ignore hidden files created by Mac OS:
.DS_Store

# ignore the .venv directory which configures the virtual environment:
.venv/

# ignore the .env file which contains environment variables:
.env

# ignore the video path, if storing them in this repo:
geometric_sim_videos/
