
# virtual environment:
.venv/

# cache files:
__pycache__/
.pytest_cache

# clutter files (Mac OS):
.DS_Store

# results files:
*/**/output_data/
*/**/metrics/
**/videos/
**/train/
**/eval/
smart_control/refactor/data/
smart_control/refactor/experiment_results/
smart_control/learning/

# Sphinx build output
docs/_build/
